<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>template-require-resources</title>
    <link rel="stylesheet" href="https://www.abc.com/css/a.css">
</head>
<body>

<img src="../images/aircraft.png">
<img src="https://www.abc.com/images/s.gif">

<script src="https://www.abc.com/js/a.js"></script>
{{#each assets.index.js}}
    <script src="{{url}}"></script>
{{/each}}
</body>
</html>
