<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>partial</title>
<link rel="stylesheet" href="css/partial-ad02db58718913871887ddc7dce5226e.css">
</head>
<body>

<header>
    <h1>partial module header</h1>
</header>
<ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
</ul>
<footer>partial module footer</footer>
<script crossorigin="anonymous" src="js/common-14e95b06.js"></script>
<script crossorigin="anonymous" src="js/partial-f1ba105d95d4a7de87f4.js"></script>
</body>
</html>