<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>template-css-inline</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

<script src="/js/index.js"></script>
</body>
</html>
