<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>template-css-inline</title>
    <style>{{{assets.index.css.0.source}}}</style>
</head>
<body>

<script src="{{{assets.index.js.0.source}}}"></script>
</body>
</html>
