<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>img</title>
</head>
<body>

<img src="../images/aircraft.png?__inline">
<img src="../images/buzz.jpg?__inline">

</body>
</html>