<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>simple</title>
</head>
<body>

<div class="page">
    <div class="simple"></div>
</div>
<script src="../js/simple.js"></script>
</body>
</html>