<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>template-dist-resources</title>
    {{{assets.index.css.toComboTag}}}
</head>
<body>

{{{assets.index.js.toComboTag}}}
</body>
</html>
