<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>template-css-inline</title>
    {{#each assets.index.css}}
        <link rel="stylesheet" href="{{url}}">
    {{/each}}

</head>
<body>

{{#each assets.index.js}}
    <script src="{{url}}"></script>
{{/each}}
</body>
</html>
