@font-face {
  font-family: 'font-awesome';
  src: url(fonts/font-awesome-e1bff014b5d7770b5dc6b1d7e6967b30.eot);
  src: url(fonts/font-awesome-e1bff014b5d7770b5dc6b1d7e6967b30.eot#iefix) format('embedded-opentype'), 
       url(fonts/font-awesome-715ee0a3a95ed027df45a19e53f72a21.woff2) format('woff2'), 
       url(fonts/font-awesome-124737e96cd0f4b4f086d74bfa6a713a.woff) format('woff'), 
       url(fonts/font-awesome-b19cdf918ff1152580fe49da72e72da4.svg#font-awesome) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="font-awesome-"], [class*=" font-awesome-"] {
  font-family: 'font-awesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-awesome-backward:before {
  content: '\EA01';
}
.font-awesome-fast-backward:before {
  content: '\EA02';
}
.font-awesome-fast-forward:before {
  content: '\EA03';
}
.font-awesome-forward:before {
  content: '\EA04';
}
.font-awesome-pause:before {
  content: '\EA05';
}
.font-awesome-play:before {
  content: '\EA06';
}
.font-awesome-step-backward:before {
  content: '\EA07';
}
.font-awesome-step-forward:before {
  content: '\EA08';
}
.font-awesome-stop:before {
  content: '\EA09';
}
@font-face {
  font-family: 'icomoon';
  src: url(fonts/icomoon-33b5c227a04ecf00094cc09f9ad24d7c.eot);
  src: url(fonts/icomoon-33b5c227a04ecf00094cc09f9ad24d7c.eot#iefix) format('embedded-opentype'), 
       url(fonts/icomoon-1c5856d4e2b08b3ee8ccdb98aa362c90.woff2) format('woff2'), 
       url(fonts/icomoon-48660ae87d3856e323e321bfcd860fc1.woff) format('woff'), 
       url(fonts/icomoon-69e95bbe1aa223c5c7ccab78a0585c82.svg#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icomoon-"], [class*=" icomoon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icomoon-arrow-down-left:before {
  content: '\EA01';
}
.icomoon-arrow-down-right:before {
  content: '\EA02';
}
.icomoon-arrow-down:before {
  content: '\EA03';
}
.icomoon-arrow-left:before {
  content: '\EA04';
}
.icomoon-arrow-right:before {
  content: '\EA05';
}
.icomoon-arrow-up-left:before {
  content: '\EA06';
}
.icomoon-arrow-up-right:before {
  content: '\EA07';
}
.icomoon-arrow-up:before {
  content: '\EA08';
}
