<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>template-image</title>
</head>
<body>

<img src="../images/aircraft.png">
<img src="../images/aircraft.png?__url">
<img src="../images/aircraft.png?__inline">
<img src="../images/buzz.jpg">

{{#each assets.index.js}}
    <script src="{{url}}"></script>
{{/each}}
</body>
</html>
