{
  "env": {
    "browser": true,
    "node": false
  },
  "rules": {
    // 必须分号
    "semi": [2, "always"],

    // 不限制连续的空行数量
    "no-multiple-empty-lines": 0,

    // 禁止出现多个空格,不包括缩进
    "no-multi-spaces": 2,

    // 匿名函数需要空格，命名的不需要
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never"
    }],

    // 大括号风格要求
    "brace-style": ["error", "1tbs"],

    // 逗号风格
    "comma-style": ["error", "last"],

    // 要求使用骆驼拼写法
    "camelcase": [2, {
      "properties": "always"
    }],

    // 禁止使用eval()
    "no-eval": 2
  }
}