body {
  font: 400 14px/1.5 "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", tahoma, arial, Microsoft Yahei, \5b8b\4f53, sans-serif;
  background: #f5f5f5;
}


.simple {
  margin: 0 auto;
  width: 1190px;
  font-size: 24px;
}

