<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>handlebars Helper</title>
</head>
<body>

<div id="J-tpl"></div>

<script src="../js/index.js"></script>
</body>
</html>
