{
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "rules": {
    // 使用分号: 报错级别, 必须
    "semi": ["error", "always"],

    // 禁止使用eval()
    "no-eval": "error"
  }
}
