.page {
  .box {
    width: 120px;
  }

  .icon-game {
    margin: 0 5px 0 0;
    background: url(../images/level-1.png?__sprite) no-repeat;
  }
  .icon-mobile {
    margin: 0 5px 0 0;
    background: url(../images/level-2.png?__sprite);
  }
  .icon-mobile {
    margin: 0 5px 0 0;
    background: url(../images/level-3.png?__sprite);
  }
  .icon-mobile {
    margin: 0 5px 0 0;
    background: url(../images/level-4.png?__sprite);
  }
}