<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>partial</title>
</head>
<body>

{{> partial1}}
<div id="J-tpl-2"></div>

{{#each assets.index.js}}
    <script src="{{url}}"></script>
{{/each}}
</body>
</html>
