<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>test data</title>
</head>
<body>

<script src="/js/vendor.js"></script>
<script src="/js/commons.js"></script>
<script src="/js/pageB.js"></script>
</body>
</html>
