@import "module/mod1";

body {
  background: #f00;
  transform: translate3d(0,0,0);
  box-sizing: border-box;

  a {
    color: rgba(#000, .7);

    &:hover {
      text-decoration: none;
    }
  }

  .box {
    @include size(120, 400);
  }
}
