<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>test data 2</title>
</head>
<body>

{{#each assets.index-2.js}}
    <script src="{{url}}"></script>
{{/each}}
</body>
</html>
