<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>svg-sprite with jsx</title>
    <style>
        svg {
            fill: currentColor;
        }
        .icon {
            width: 150px;
            height: 150px;
            color: #ff0000;
        }
    </style>
</head>
<body>

<div id="js-root"></div>

<script src="https://cdn.bootcss.com/react/16.0.0/umd/react.production.min.js"></script>
<script src="https://cdn.bootcss.com/react-dom/16.0.0/umd/react-dom.production.min.js"></script>
<script src="../js/app-index.js"></script>
</body>
</html>
