<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>svg-sprite</title>
    <style>
        svg {
            fill: currentColor;
        }
        .icon {
            width: 150px;
            height: 150px;
            color: #ff0000;
        }
    </style>
</head>
<body>


<i class="icon">{{getSVGIcon name='edit' width='150' height="150"}}</i>
<i class="icon">{{getSVGIcon name='gear' width='150' height="150"}}</i>
<i class="icon">{{getSVGIcon name='info' width='150' height="150"}}</i>
<i class="icon">{{getSVGIcon name='search' width='150' height="150"}}</i>

<script src="../js/index.js"></script>
</body>
</html>
