
.page {
  .icon-level-1 {
    margin: 0 5px 0 0;
    background: url(../images/sp1/level-1.png?__sprite) no-repeat;
  }
  .icon-level-2 {
    margin: 0 5px 0 0;
    background: url(../images/sp1/level-2.png?__sprite) no-repeat;
  }
  .icon-level-3 {
    margin: 0 5px 0 0;
    background: url(../images/sp1/level-3.png?__sprite) no-repeat;
  }
  .icon-level-4 {
    margin: 0 5px 0 0;
    background: url(../images/sp2/level-4.png?__sprite) no-repeat;
  }
  .icon-level-5 {
    margin: 0 5px 0 0;
    background: url(../images/sp2/level-5.png?__sprite) no-repeat;
  }
}