.page {
  .icon-level-1 {
    margin: 0 5px 0 0;
    background-image: url(../images/level-1.png?__sprite);
  }
  .icon-level-2 {
    margin: 0 5px 0 0;
    background-image: url(../images/level-2.png?__sprite);
  }
  .icon-level-3 {
    margin: 0 5px 0 0;
    background-image: url(../images/level-3.png?__sprite);
  }
  .icon-level-4 {
    margin: 0 5px 0 0;
    background-image: url(../images/level-4.png?__sprite);
  }
  .icon-level-5 {
    margin: 0 5px 0 0;
    background-image: url(../images/level-5.png?__sprite);
  }
}